<div class="container.fluid sticky-top">
    <div class="row">
            <a class="col-xl-1" href="/po"><button class="btn btn-secondary col-xl-3">Back</button></a>
            <a class="col-xl-1" href="/items/add/{{poId}}"><button class="btn btn-success col-xl-3">New</button></a>
    </div>
</div>

{{#each skidList}}
<div class="container text-center pt-2 mt-5 m-auto" style="max-width:500px; max-height: 800px;">
    <div class="card">
        <a href="/items/{{../poId}}/{{_id}}/view">
            <h2 class="mb-0">
                {{skidNumber}}
            </h2>
            <div class="card-body">
                <div class="container-sm mb-3">

                    <div class="row mb-3">
                        <div class="col">Destination: {{destination}}</div>
                        <div class="col">Status: {{status}}</div>
                    </div>

                    <div class="row">
                        <div class="col">Lines: {{lines}}</div>
                        <div class="col">{{skidType}}</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
{{/each}}